.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.site-layout-background {
  background: #fff;
}
.header {
  position: fixed;
  display: flex;
  background-color: rgb(0, 109, 117);
  height: 56px;
  width: 1440px;
  padding: 0 0;
  z-index: 2;
}
.ant-layout {
  z-index: 1;
}
.logo {
  margin-left: 30px;
  max-width: 100px;
  max-height: 60px;
  overflow: hidden;
}
.header_divider {
  height: 20px;
  margin: 20px 16px;
  background-color: #8baaae;
  color: #8baaae;
}
.system_title {
  background: linear-gradient(360deg, #00ffde 0%, white 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(100%);
  font-size: 26px;
  font-weight: bold;
  line-height: 56px;
}
.search {
  background-color: #fff;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dataChart {
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}
.table {
  background-color: #fff;
  padding: 10px;
}
.ant-form-item {
  display: inline-block;
  margin: 5px 14px;
}
.floatButton {
  float: right;
  margin-right: 8px;
}
.ant-breadcrumb {
  position: fixed;
  background-color: #f0f2f5;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  width: 1232px;
  z-index: 3;
}
.fold {
  height: 33px;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.pie {
  height: 146px;
  width: 300px;
}
.bar {
  height: 182px;
  width: 880px;
  overflow: hidden;
}
.charts {
  height: 182px;
  width: 1184px;
  display: flex;
  justify-content: space-between;
}
.bottomFixed {
  background-color: #f0f2f5;
  width: 1232px;
  height: 25px;
  position: fixed;
  bottom: 0;
  z-index: 3;
}
.customLayout {
  padding: 0 24px 24px 24px;
}
.page {
  height: 565px;
  overflow: scroll;
}
.ant-layout-sider-trigger {
  color: black;
  background-color: white;
  border-top: 1px solid rgb(232, 232, 232);
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  color: #595959;
  padding: 10px 0;
  overflow-wrap: normal;
  text-align: center !important;
}
.admin {
  margin-left: 845px;
  height: 37px;
  margin-top: 10px;
}
